<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <html lang="en-US">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--favicon code -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!--css-->
    <link rel="stylesheet" href="css/style.css">
    <!-- javascript  defer - wait until html has loaded to exe js-->
    <script src="index.js" defer> </script>
    <!-- Meta data for SEO -->
    <meta name="author" content="Isaac De Jesus Reyes">
    <meta name="description" content="Software developer with interested in various fields such as Math, Engineering, Chemistry, etc.">
    <title>Document</title>
</head>
<body>
    <header><h1> Welcome to my personal space </h1></header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <form>
            <input type="Search" name="q" placeholder="Search query">
            <input type="submit" value="Search">
        </form>
    </nav>
    <main>
    <article>
    <p> Placeholder for future information</p>
    </article>
    <!--sidebar-->
    <aside>
        <ul>
            <li><a href="#">certain project</a></li>
            <li><a href="#">another project</a></li>
        </ul>
    </aside> 
    </main>

    <footer>
        <p>&copy Copyright 2020 by Isaac De Jesus Reyes. All rights reserved. </p>
    </footer>

</body>
</html>
