<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <html lang="en-US">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--favicon code -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!--css-->
    <link rel="stylesheet" href="css/style.css">
    <!-- javascript  defer - wait until html has loaded to exe js-->
    <script src="index.js" defer> </script>
    <!-- Meta data for SEO -->
    <meta name="author" content="Isaac De Jesus Reyes">
    <meta name="description" content="Software developer with interested in various fields such as Math, Engineering, Chemistry, etc.">
    <title>Welcome to BBC - News</title>
</head>
<body>
    <header >
    <img class="solid-bg" src="images/pearl.jpg" alt="solid-bg-color"> 
    <nav>
        <ul>
            <li><a href="#">Donate</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign up</a></li>
        </ul>
    </nav>
    <a href="#" class="sign-in">Button</a>
    </header>
    <section class="big clear" >
        <section class="inner">
            <h1>Blonde highlights</h1>
            <span>Click here to contact us</span>
            <a href="#">contact us</a>
            <section class="small-inner">
            <h6> Your first visit </h6>
            <span class="large">20%</span> <span> for the first visit</span>
            <button type"text">Book now</button>
        </section>
        </section>
    </section>
    <section class="middle">
        <section class="thirds">
            <img class="small-img" src="images/pearl.jpg" alt="solid-bg-color"> 
            <h6> some title</h6>
            <p> some words from our sponsors</p>
        </section>
         <section class="thirds">
            <img class="small-img" src="images/pearl.jpg" alt="solid-bg-color"> 
            <h6> some title</h6>
            <p> some words from our sponsors</p>
        </section>
            <section class="thirds">
            <img class="small-img" src="images/pearl.jpg" alt="solid-bg-color"> 
            <h6> some title</h6>
            <p> some words from our sponsors</p>
        </section>
    </section>
    <section class"clear next-section">
        <section class="stuff">
            <section class="left">
                <h2>stufff to be said</h2>
                <p>hsdjkfkjsdhf kjsdfh kjsdfh kjsdhf kjsh s hkj hfsdk hfsdkjhf dkjf hskj hfskjdh fskdjh fkjsh fkusjdh fsd
                fs hdk hfdskj hfjkds hfkiusd hfkdsju hfjks hfkdjs jkfsd fjkds sdjk hjsk hf iuwehfwei</p>
                <a href="#">linkkk</a>
            </section>
            <section class="right">
                <img class="some-img" src="images/pearl.jpg">
            </section>
        </section>
    </section>
    <section class="middle clear">
        <section class="thirds">
            <img class="small-img" src="images/pearl.jpg" alt="solid-bg-color"> 
            <h6> some title</h6>
            <p> some words from our sponsors</p>
        </section>
        <section class="thirds">
            <img class="small-img" src="images/pearl.jpg" alt="solid-bg-color"> 
            <h6> some title</h6>
            <p> some words from our sponsors</p>
        </section>
        <section class="thirds">
            <img class="small-img" src="images/pearl.jpg" alt="solid-bg-color"> 
            <h6> some title</h6>
            <p> some words from our sponsors</p>
        </section>
    </section>
    <section class="with-bg-img clear">
        <h4>colour day offer</h4>
        <h1>10% off on color and highlights</h1>
        <a href="#"> linkkk</a>
    </section>
    <section class="gallery">
        <section class="left-panel">
            <img class="left-one" src="images/pearl.jpg">
            <img class="left-two" src="images/pearl.jpg">
        </section>
        <section class="middle-panel">
            <img class="middle-one" src="images/pearl.jpg">
            <img class="middle-two" src="images/pearl.jpg">
        </section>
         <section class="left-panel">
            <img class="left-one" src="images/pearl.jpg">
            <img class="left-two" src="images/pearl.jpg">
        </section>

    </section>
    <footer class="clear">
        <p>&copy Copyright 2020 by Isaac De Jesus Reyes. All rights reserved. </p>
    </footer>

</body>
</html>
