<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <html lang="en-US">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--favicon code -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!--css-->
    <link rel="stylesheet" href="css/style.css">
    <!-- javascript  defer - wait until html has loaded to exe js-->
    <script src="index.js" defer> </script>
    <!-- Meta data for SEO -->
    <meta name="author" content="Isaac De Jesus Reyes">
    <meta name="description" content="Software developer with interested in various fields such as Math, Engineering, Chemistry, etc.">
    <title>Welcome to BBC - News</title>
</head>
<body>
    <header >
    <a href="#" class="sign-in"> sign in</a>
    <form class="search-form">
    <input type="Search" name="q" placeholder="Search query">
    </form>
    <img class="solid-bg" src="images/pearl.jpg" alt="solid-bg-color"> 
    <nav>
        <ul>
            <li><a href="#">Donate</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign up</a></li>
        </ul>
    </nav>
    </header>
    <section class="big-section clear">
    <section class='left'>
        <img class="big-left" src="images/pearl.jpg" alt="solid-bg-color">
    </section>
    <section class='right'>
    <h1> Big header here. Insert big header hereeeeee</h1>
    <p>I am a paragrapgh, i am sjust writin random stuff here .jher
    hkjferikrfheihfiuehfiuehfieuhfniuer</p>
    <ul>
            <li><a href="#">Learners</a></li>
            <li><a href="#">Teachers</a></li>
            <li><a href="#">Districts</a></li>
            <li><a href="#">Parents</a></li>
        </ul>

    </section>
    </section>
    <footer class="clear">
        <p>&copy Copyright 2020 by Isaac De Jesus Reyes. All rights reserved. </p>
    </footer>

</body>
</html>
