<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <html lang="en-US">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--favicon code -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!--css-->
    <link rel="stylesheet" href="css/style.css">
    <!-- javascript  defer - wait until html has loaded to exe js-->
    <script src="index.js" defer> </script>
    <!-- Meta data for SEO -->
    <meta name="author" content="Isaac De Jesus Reyes">
    <meta name="description" content="Software developer with interested in various fields such as Math, Engineering, Chemistry, etc.">
    <title>Welcome to BBC - News</title>
</head>
<body>
    <header>
        <nav>
        <ul>
            <li><a href="#">Classes</a></li>
            <li><a href="#">Hire us</a></li>
        </ul>
            </nav>
            <img  class="logo-img" src="images/pearl.jpg">
    <a href="#" class="sign-in">Donate</a>
    </header>
    <section class='bg'>
    <section class="one">
        <h1> Where grit meets opportunity</h1>
        <p>ton of ttetejhkjafh hereoi oiufhoifwue ofwe iowyfoiwy89fowehjfoiwe f9owe hyfoweihfoiwehfiuwhfiuweh
        hekjhrkejhfgkql idhjoifcwe foiwe fiowe fuowi foiwe ufowi ufoiw ufoiw ufoiweu foiwe ufoiwe ufoiwe ufiow ufoiw ufoiw ufwoi fwoufw
         fhekhfkjehfkjeeeeeeeeeeeeeeeerffffffffk kjehhh kjfahkhfishfiuew i wehfiuwhfiuwehfiw iwk hfdiuwe hgfiuw hfiuw fwie</p>
        <span> Watch video</span>
    </section>
    </section>
    <section class="clear bg2">
    <section class="two">
            <h3> some random title</h3>
            <p>kjldhkfj kiusfhiushfks words ikwhefow9hfoiwhnfwiuhfiwfhiuwfiuwefiwojfcowljcmowiejmcnoiwejdcnmoewijc woejcwoeicnmowencowencweocn</p>
    </section>
    </section>
    <section class="jalf">
        <img  class="small-img" src="images/pearl.jpg">
        <h3> Header </h3>
        <p>fjlksjhfkl kusfd ifksd usdoi uosidf oisfd uoisdf oisd uois ufoisd ufosid oisdf foisd fousi </p>
        <a href="#">Linkkkk</a>

    </section>
   <section class="jalf">
        <img  class="small-img" src="images/pearl.jpg">
        <h3> Header </h3>
        <p>fjlksjhfkl kusfd ifksd usdoi uosidf oisfd uoisdf oisd uois ufoisd ufosid oisdf foisd fousi </p>
        <a href="#">Linkkkk</a>
    </section>
    <section class="bottom clear">
        <h2>Volunteer with level ground </h2>
        <p > sjfisdhkishdf ksdhfksjdhksjdfh shos ioufhs ifhsiuf siuf hsiuf hiusf hisufh isf
        sfhjkshfkshfiuoshfksdfh ks fhks fhiks fhish fiusd hfiusd hfiusd hfiusd hfius hfiusd hf
        jfsokfhosihfj iosuf hisu hfius hfiusd hfiusd hfiusd hfiusd hfiuds hfiuds fhiuds fiusd
        sfjchosf josif osif soif</p>
        <a href="#">LINKKKKKKK</a>
    </section>
  <footer class="clear">
        <p>&copy Copyright 2020 by Isaac De Jesus Reyes. All rights reserved. </p>
    </footer>

</body>
</html>
