<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <html lang="en-US">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--favicon code -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!--css-->
    <link rel="stylesheet" href="css/style.css">
    <!-- javascript  defer - wait until html has loaded to exe js-->
    <script src="index.js" defer> </script>
    <!-- Meta data for SEO -->
    <meta name="author" content="Isaac De Jesus Reyes">
    <meta name="description" content="Software developer with interested in various fields such as Math, Engineering, Chemistry, etc.">
    <title>Welcome to BBC - News</title>
</head>
<body>
    <header >
    <img class="solid-bg" src="images/pearl.jpg" alt="solid-bg-color"> 
    <nav>
        <ul>
            <li><a href="#">Donate</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign up</a></li>
        </ul>
    </nav>
    <a href="#" class="sign-in">Button</a>
    </header>
    <section class="big-section clear">
        <section class='right'>
    <h5>Tagline </h5>
    <h1>Source helps creators make more of what they love <h1>
    <form>
        <input type="text" placeholder="placeholder" name="name" id="id">  
        <button type="button">Button</button>
    </form>
    <p>I am a paragrapgh, i am sjust writin random stuff here .jher
    hkjferikrfheihfiuehfiuehfieuhfniuer</p>
    </section>
    <section class='left'>
        <img class="big-left" src="images/pearl.jpg" alt="solid-bg-color">
    </section>
    </section>
    <section class="clear middle">
        <section class="middle-small">
            <img class="small-img" src="images/pearl.jpg" alt="solid-bg-color"> 
            <h4>title</h4>
            <p>hfkdjhsdfkj sfdh kjsdfh ksjdfh fkish fiusd hfiusd hfiusd hfiusdh iufdshfiusdh iufhds ifu sd</p>
            <a href="#">LINKKKK</a>
        </section>
        <section class="middle-small">
            <img class="small-img" src="images/pearl.jpg" alt="solid-bg-color"> 
            <h4>title</h4>
            <p>hfkdjhsdfkj sfdh kjsdfh ksjdfh fkish fiusd hfiusd hfiusd hfiusdh iufdshfiusdh iufhds ifu sd</p>
            <a href="#">LINKKKK</a>
        </section>
        <section class="middle-small">
            <img class="small-img" src="images/pearl.jpg" alt="solid-bg-color"> 
            <h4>title</h4>
            <p>hfkdjhsdfkj sfdh kjsdfh ksjdfh fkish fiusd hfiusd hfiusd hfiusdh iufdshfiusdh iufhds ifu sd</p>
            <a href="#">LINKKKK</a>
        </section>
        <section class="middle-small">
            <img class="small-img" src="images/pearl.jpg" alt="solid-bg-color"> 
            <h4>title</h4>
            <p>hfkdjhsdfkj sfdh kjsdfh ksjdfh fkish fiusd hfiusd hfiusd hfiusdh iufdshfiusdh iufhds ifu sd</p>
            <a href="#">LINKKKK</a>
        </section>
    </section>
    <footer class="clear">
        <p>&copy Copyright 2020 by Isaac De Jesus Reyes. All rights reserved. </p>
    </footer>

</body>
</html>
