/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

/******************************************
/* LAYOUT
/*******************************************/
footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
    header li {
    float: center;
    height: 40px;
    width: 10%;
}
li {
    float: left;
    width: 25%;
}
ul {
    margin-left: 40px;
}
a{
    color: black;
}

header {
    border: blue dotted 1px;
    width: 100%;
    margin: auto;
}
.small-img {
    height: 40px;
    width: 40px;
}
.sign-in {
    float: right;
    width:10%;
}

.search-form {
    float: left;
    width: 20%;
}
.solid-bg {
    height: 30px;
    width: 20px;
    float: left;
    margin-right: 400px;
}

.big{
    background-image: url("bbc-image.png");
    height: 200px;
    border: blue 2px solid;
}

