<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <html lang="en-US">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--favicon code -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!--css-->
    <link rel="stylesheet" href="css/style.css">
    <!-- javascript  defer - wait until html has loaded to exe js-->
    <script src="index.js" defer> </script>
    <!-- Meta data for SEO -->
    <meta name="author" content="Isaac De Jesus Reyes">
    <meta name="description" content="Software developer with interested in various fields such as Math, Engineering, Chemistry, etc.">
    <title>Welcome to BBC - News</title>
</head>
<body>
    <header class="clear">
    <img class="solid-bg" src="images/pearl.jpg" alt="solid-bg-color"> 
    <a href="#" class="sign-in"> sign in</a>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Sport</a></li>
            <li><a href="#">Reel</a></li>
            <li><a href="#">Worklife</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Future</a></li>
            <li><a href="#">Culture</a></li>
            <li><a href="#">More</a></li>
        </ul>
        <form class="search-form">
            <input type="Search" name="q" placeholder="Search query">
            <!--<input type="submit" value="Search">
        </form>
    </nav>
    </header>
    <article class='test clear'>
    </article>

    <footer class="clear">
        <p>&copy Copyright 2020 by Isaac De Jesus Reyes. All rights reserved. </p>
    </footer>

</body>
</html>
